<div class="container">
   <div class="card" style="max-width: 420px; margin: 120px auto">
      <div class="card-header text-center">Login</div>
      <div class="card-body">
         <form action="/login" method="post">
            <div class="form-row">
               <div class="col-12">
                  <div class="form-group">
                     <input type="email" placeholder="Enter email" class="form-control">
                  </div>
               </div>
               <div class="col-12">
                  <div class="form-group">
                     <input type="password" placeholder="Enter Password" class="form-control">
                  </div>
               </div>
            </div>
            <button type="submit" class="btn btn-info btn-block">Submit</button>
            <div class="text-center">
               <a class="d-block small mt-3" href="/register">Register Page</a>
               <a class="d-block small" href="forgot-password.html">Forgot Password?</a>
               <a class="d-block small" href="/">Home Page?</a>
            </div>
         </form>
      </div>
   </div>
</div>