<div class="page-content-wrapper">
   <div class="page-content-wrapper-inner">
      <div class="content-viewport">
        

      </div>
   </div><!-- content viewport ends -->
   {{> admin/copyright }}
</div>