
<script src="/backend/js/core.js"></script>
<script src="/backend/js/vendor.addons.js"></script><!-- endinject -->
<!-- Vendor Js For This Page Ends-->
<script src="/backend/js/Chart.min.js"></script><!-- Vendor Js For This Page Ends-->
<script src="/backend/js/script.js"></script>
</body>

</html>