<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
   <title>NodeCMS</title><!-- plugins:css -->
   <link rel="stylesheet" href="/backend/css/materialdesignicons.css">
   <link rel="stylesheet" href="/backend/css/vendor.addons.css"><!-- endinject -->
   <!-- vendor css for this page -->
   <link rel="stylesheet" href="/backend/css/flag-icon.min.css">
   <!-- End vendor css for this page -->
   <!-- inject:css -->
   <link rel="stylesheet" href="/backend/css/shared/style.css"><!-- endinject -->
   <!-- Layout style -->
   <link rel="stylesheet" href="/backend/css/demo_1/style.css"><!-- Layout style -->
   <link rel="shortcut icon" href="https://uxcandy.co/demo/ripple/preview/asssets/images/favicon.ico">
</head>

<body class="header-fixed">